.services-wrapper {
    display: flex;
    /* align-items: flex-start;  */
}

.service-text {
    font-size: 36px;
    background-color: #B9FF66;
    font-weight: 500;
    margin-right: 50px;
    display: inline-block;
    padding: 10px;
}

.service-paragraph-wrapper {
    max-width: 700px;
    font-size: 20px;
}
